{% extends 'base.html' %}
{% load i18n static %}

{% block content %}
{{ block.super }}
{% if baners %}
<div class="baners">
  {% for baner in baners %}
  <div class="baner"><a href="{{ baner.url }}"><img src="{{ baner.get_picture.get_jpg_url }}" alt=""></a></div>
  {% endfor %}
</div>
{% endif %}
{% if products %}
<div class="products">
  {% for prod in products %}
  <div class="products__item"><a href="{% url 'products:ProductDetail' prod.pk %}"><img src="{{ prod.get_picture.get_jpg_url }}"
        alt=""></a></div>
  {% endfor %}
</div>
{% endif %}
{% endblock content %}
