{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>{% block meta_title %}{{ page_title }}{% endblock meta_title %}</title>
  {% block css %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/font-montserrat.css' %}?v={{ VERSION }}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.css' %}?v={{ VERSION }}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.min.css' %}?v={{ VERSION }}">
  {% endblock css %}
</head>

<body>
  <header>
    <div class="container">
      <a class='header__logo' href="{% url 'core:index' %}"><img src="{% static 'img/logo.svg' %}" alt="logo"></a>
      {% include 'core/snippets/menu.html' with menu=menu.get_menu_mainmenu %}
    </div>
  </header>
  <main>
    <div class="container">
      {% block content %}{% endblock content %}
    </div>
  </main>

  <div class="footer">
    {% block footer %}{% include 'snippets/footer.html' %}{% endblock footer %}
  </div>

  </div>
</body>

</html>
