html {
  font-size: 17px;
}

* {
  margin: 0;
  padding: 0;
}

.container {
  width: 768px;
  height: 100%;
}

.baners {
  display: flex;
}

.baner {
  max-width: 50%;
  margin: 5px;

  img {
    width: 100%;
    height: 100%;
  }
}