{% extends 'base.html' %}
{% block content %}
<div class="product-detail">
  <div class="product-detail__preview">
    <img src="{{ product.get_picture.get_jpg_url }}" alt="{{ product.title }}">
  </div>
  <div class="product-detail__description">
    <h1>{{ product.title }}</h1>
    <p>{{ product.description }}</p>
    <p>Цена {{ product.price }} руб.</p>
    <a href="{% url 'basket:add' product.pk %}" class="red-button">
      заказать
      <i class="fa fa-chevron-right" aria-hidden="true"></i>
    </a>
  </div>
</div>
{% endblock content %}
